<h1>Park Now!!!</h1>

<h4>Please choose your car</h4>
<%= render 'form', location: @location %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

 <script>
    var x=document.getElementById("demo");
    var lat;
    var long;
    function getLocation()
    {
        if (navigator.geolocation)
        {
            navigator.geolocation.watchPosition(showPosition);

        }
        else{x.innerHTML="Geolocation is not supported by this browser.";}
    }
    function showPosition(position)
    {
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;
        car_id = "<%="#{@car.id}"%>";
        x.innerHTML=  latitude +
               + longitude + car_id;

        $.ajax({
            type: 'POST',
            // url: 'https://parkers.herokuapp.com/location/new',
            url: 'http://localhost:3000/location/new',
            data: {  latitude, longitude, car_id },
            dataType: 'json'

        });

    }
</script>
<%= link_to 'Back', cars_path %>

  <script type="text/javascript">
    var watchId = navigator.geolocation.watchPosition(function(position) { document.getElementById('currentLat').innerHTML= position.coords.latitude; document.getElementById('currentLon').innerHTML = position.coords.longitude; });
    // var latitude = position.coords.latitude;
    // var longitude = position.coords.longitude;
    var lat = $("#currentLat");
    var lng = $("#currentLon");

    var set_latlng_to_input = function(marker){
      lat.val(marker.getPosition().lat());
      lng.val(marker.getPosition().lng());
}

  </script>
