<p id="notice"><%= notice %></p>

<h1>Welcome To Parkers</h1>
<h3>Please enter the number plate of the car blocking your way!</h3>

  <p>
   	<%=form_tag cars_path, id:'search', remote: true, method: :get do %>
    <%= text_field_tag :search, params[:search]  %>
    <%= submit_tag "Search", :name => nil,:value => :search.upcase %>
  </p>
    <% end %>

    